<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ajax_Bus</title>
  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.1/angular.js"></script>
        <script src="app/app.js"></script>
</head>
<body ng-app="app">
  <div class="container">
    <h1 class="jumbotron">Testing Ajax Bus</h1>
    <div ng-controller="controller">
      <div class="md-col-6">
        <h1>Static calls</h1>
        <button class="btn btn-default" ng-click="echo()">Echo</button>
        <button class="btn btn-default" ng-click="echo_null()">Echo from not existing url</button>
        <button class="btn btn-default" ng-click="echo_no_server()">Echo from not accessible server</button>
      </div>
      <div class="md-col-6">
        <h1>Dynamic PHP calls</h1>
        <button class="btn btn-default" ng-click="inc(10)">inc</button>
        <button class="btn btn-default" ng-click="inc('a')">inc bad</button>
      </div>
      <hr>
      <div class="md-col-6 well">

        <h1>Answer</h1>
        <div class="well">
          {{response}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>